<!DOCTYPE html>
<html>
<head>
<title>DIKSHA.education</title>
</head>
<body style="text-align: center;">

<h1>Let's change the way we learn</h1>
<p>EDUCATION FOR ALL</p>

<p>If not we, who will? If not now, then when?</p>
<h1>What education is, coming soon...</h1>

</body>
</html>